
<div class="job-details">
  <h2>Technical Account Manager</h2>
  <img src="http://github-jobs.s3.amazonaws.com/8eed91f2-8f32-11e1-8bb0-65100ef41aa5.png" alt="">

  <a class="btn btn-go btn-full" href="#">Add to job list</a>

  <div class="description">
    <p>GitHub needs your help with the on-premise version of our product, <a href="https://enterprise.github.com">GitHub Enterprise</a>. You’d be the customer’s go-to person throughout the entire sales process, answering any technical, infrastructure, or billing questions they may have.</p> <p>Highly-motivated engineers or sales folks with technical backgrounds that love talking to people and problem solving are strongly encouraged to apply. The Enterprise sales team is small, but growing. Your involvement will be instrumental as we continue to ramp up.</p> <p>For more information on how we do sales at GitHub, please read our <a href="https://github.com/blog/1230-optimizing-sales-for-happiness">Optimizing Sales for Happiness</a> post.</p> <p>We’d prefer if you were located in the San Francisco area for this position and provide a generous relocation package to make the move easier.</p> <p><strong>The Company</strong></p> <p>We’re profitable and growing with a <a href="https://github.com/blog/920-how-github-works">unique perspective</a> on how to run a company. Come work for group of highly-motivated people that love what they do.</p> <p>We provide everything to keep you healthy: health, vision, dental + HSA contributions. It’s a safe, open work environment.</p>
  </div>

  <h2>How to apply</h2>
  <div class="description">
    <p>Email a cover letter and resume to resumes+tam@github.com</p>
  </div>


  <hr>

  <%#= form_for @job do |f| %>
    <%#= f.text_field :company :value "test"%>
    <%#= f.submit :class => "btn btn-go"  %>
  <%# end %>

  <hr>

  <%#= form_for Job.new do %>
    <%#= text_field_tag :company, "GitHub" %>
    <%#= text_field_tag :company_logo, "http://github-jobs.s3.amazonaws.com/8eed91f2-8f32-11e1-8bb0-65100ef41aa5.png" %>
    <%#= text_field_tag :github_id, "123123123123123123123123" %>
    <%#= text_field_tag :title, "Technical Account Manager" %>

    <%#= submit_tag "Submit", :class => "btn btn-go" %>
  <%# end %>

</div>