

<p class="text-center">Search results for <strong>Ruby</strong> jobs in <strong>London</strong></p>

<ul class="job-results">
  <li>
    <div class="compnay-logo">
      <img src="http://github-jobs.s3.amazonaws.com/8eed91f2-8f32-11e1-8bb0-65100ef41aa5.png" alt="">
    </div>
    <div class="title">
      <h2>Technical Account Manager</h2>
    </div>
    <div class="details">
      <%= link_to "Details", detail_jobs_path, class: "btn btn-go" %>
    </div>
  </li>

  <li>
    <div class="compnay-logo">
      <img src="http://github-jobs.s3.amazonaws.com/aa333d4e-adeb-11e2-9d28-44d170059efd.png" alt="">
    </div>
    <div class="title">
      <h2>Performance Specialist</h2>
    </div>
    <div class="details">
      <%= link_to "Details", detail_jobs_path,  class: "btn btn-go" %>
    </div>
  </li>

  <li>
    <div class="compnay-logo">
      <img src="http://github-jobs.s3.amazonaws.com/f13dfe58-d45c-11e2-8965-8c4c5623e4be.png" alt="">
    </div>
    <div class="title">
      <h2>Software Engineer - PHP Generalist</h2>
    </div>
    <div class="details">
      <%= link_to "Details", detail_jobs_path, class: "btn btn-go" %>
    </div>
  </li>
</ul>