

<form>
  <label for="location">Location</label>
  <input name="location" id="location" placeholder="Enter location..." type="text">

  <label for="location">Sector</label>
  <div class="select-replace">
    <select name="" id="">
      <option value="">Please select...</option>
      <option value="ruby">Ruby</option>
      <option value="python">Python</option>
      <option value="front_end">Front End</option>
      <option value="#">Sector</option>
      <option value="#">Sector</option>
      <option value="#">Sector</option>
      <option value="#">Sector</option>
      <option value="#">Sector</option>
      <option value="#">Sector</option>
      <option value="#">Sector</option>
    </select>
    <span class="arr">ˇ</span>
  </div>

  <input class="btn btn-go" name="commit" type="submit" value="Search">

  <%= link_to "temp link to example results", results_jobs_path %>
</form>