<h2 class="text-center"><%= @user.name %></h2>

  <%= image_tag avatar_url(@user, 80) %>

  <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-go btn-full" %>

  <div class="joblist">
    <h3>Your Job List</h3>

    <table>
      <tr>
        <th>Title</th>
        <th>Applied</th>
        <th>Interview</th>
        <th></th>
      </tr>

      <tr>
        <td>Technical Account Manager</td>
        <td>Yes</td>
        <td>18/07/2013 at 10.00am</td>
        <td><a href="#">Update/Edit/Destroy</a></td>
      </tr>

      <tr>
        <td>Performance Specialist</td>
        <td>No</td>
        <td>-</td>
        <td><a href="#">Update/Edit/Destroy</a></td>
      </tr>

      <tr>
        <td>Software Engineer - PHP Generalist</td>
        <td>No</td>
        <td>-</td>
        <td><a href="#">Update/Edit/Destroy</a></td>
      </tr>
    </table>

  </div>
