<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Job Hunt App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Fonts -->
  <script type="text/javascript" src="//use.typekit.net/kbm4giv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="wrapper">

    <header role="banner">
      <h1>Job Watch</h1>
      <h2>A simple little app to help organise your job search</h2>
    </header>

    <nav role="primary">
      <ul role="navigation">
        <li><a href="#">Job Search</a></li>
        <li><a href="#">Job List</a></li>
        <li><a href="#">Profile</a></li>
      </ul>
    </nav>

    <%= yield %>

  </div><%# wrapper %>
</body>
</html>
